$color-surface: #383636ab;
$color-text-muted: #dcd2d2a3;
$color-background: linear-gradient(
  rgba(18, 18, 199, 0.838),
  rgba(0, 0, 0, 0.853)
);
$color-shadow: rgba(106, 105, 105, 0.1);

$radius-md: 8px;
$space-md: 20px;
$card-width: 50%;
$card-height: 50%;
