@use "../../../styles/abstracts" as *;

.container-activities {
  min-height: 90vh;
  display: grid;
  place-items: center;
  padding: $space-md;
}

.card-activities {
  width: $card-width;
  height: $card-height;
  background-color: $color-surface;
  color: $color-text-muted;
  border-radius: $radius-md;
  box-shadow: 0 2px 4px $color-shadow;
  padding: $space-md;
  text-align: center;
}
.heading-activities {
  font-size: 30px;
  margin: 0;
}
